{
    "openapi": "3.0.2",
    "info": {
        "title": "Indako DMS API (publik)",
        "version": "1.0.0",
        "description": "Dokumentasi pemanfaatan API dari sistem Indako DMS",
        "contact": {
            "email": "darwin@indako.co.id"
        }
    },
    "servers": [
        {
            "url": "https://dms.indako.co.id:8443",
            "description": "DMS API Production Server"
        }
    ],
    "tags": [
        {
            "name": "Administrasi",
            "description": "Operasi yang berhubungan dengan akses dan otentikasi user"
        },
        {
            "name": "Master",
            "description": "Operasi yang berhubungan dengan data Master"
        },
        {
            "name": "Transaksi H1",
            "description": "Operasi yang berhubungan dengan transaksi H1"
        },
        {
            "name": "Transaksi H23",
            "description": "Operasi yang berhubungan dengan transaksi Servis dan Suku Cadang"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer"
            }
        },
        "schemas": {
            "Master Pendidikan": {
                "$ref": "./schemes/master_pendidikan_scheme.json"
            },
            "Master Pekerjaan": {
                "$ref": "./schemes/master_job_scheme.json"
            },
            "Master Jasa": {
                "$ref": "./schemes/master_jasa_scheme.json"
            },
            "Master Provinsi": {
                "$ref": "./schemes/master_provinsi_scheme.json"
            },
            "Master Kota": {
                "$ref": "./schemes/master_kota_scheme.json"
            },
            "Master Alamat": {
                "$ref": "./schemes/master_alamat_scheme.json"
            },
            "Master Prospek": {
                "$ref": "./schemes/master_prospek_scheme.json"
            },
            "Master Customer H1": {
                "$ref": "./schemes/master_customerh1_scheme.json"
            },
            "Master Customer H23": {
                "$ref": "./schemes/master_customerh23_scheme.json"
            },
            "Master Part": {
                "$ref": "./schemes/master_part_scheme.json"
            },
            "Master Tipe Series Motor": {
                "$ref": "./schemes/master_tipeseries_scheme.json"
            },
            "Master Tipe Group Motor": {
                "$ref": "./schemes/master_tipegroup_scheme.json"
            },
            "Master Tipe Motor": {
                "$ref": "./schemes/master_tipeclr_scheme.json"
            },
            "Header Unit Invoice": {
                "$ref": "./schemes/unitinvoice_header_scheme.json"
            },
            "Detail Unit Invoice": {
                "$ref": "./schemes/unitinvoice_detail_scheme.json"
            },
            "Header Unit Receive": {
                "$ref": "./schemes/unitrcv_header_scheme.json"
            },
            "Detail Unit Receive": {
                "$ref": "./schemes/unitrcv_detail_scheme.json"
            },
            "Header PKB": {
                "$ref": "./schemes/pkb_header_scheme.json"
            },
            "Detail Jasa PKB": {
                "$ref": "./schemes/pkb_detail_jasa_scheme.json"
            },
            "Detail Part PKB": {
                "$ref": "./schemes/pkb_detail_part_scheme.json"
            },
            "Header Nota H23": {
                "$ref": "./schemes/notah23_header_scheme.json"
            },
            "Detail Nota H23": {
                "$ref": "./schemes/notah23_detail_scheme.json"
            },
            "inParamDateStartEnd": {
                "$ref": "./schemes/input_param_date_start_end_scheme.json"
            }
        }
    },
    "paths": {
        "/job/list": {
            "$ref": "./job/job_list.json"
        },
        "/pendidikan/list": {
            "$ref": "./pendidikan/pendidikan_list.json"
        },
        "/alamat/listprovinsi": {
            "$ref": "./alamat/alamat_listprovinsi.json"
        },
        "/alamat/listkota": {
            "$ref": "./alamat/alamat_listkota.json"
        },
        "/alamat/list": {
            "$ref": "./alamat/alamat_list.json"
        },
        "/jasa/listbysession": {
            "$ref": "./service/service_listbysession.json"
        },
        "/prospek/listbysession": {
            "$ref": "./prospek/prospek_listbysession.json"
        },
        "/customerh1/listbysession": {
            "$ref": "./customerh1/customerH1_listbysession.json"
        },
        "/customerh23/listbysession": {
            "$ref": "./customerH23/customerH23_listbysession.json"
        },
        "/login/login": {
            "$ref": "./userapi/userapi_login.json"
        },
        "/part/list": {
            "$ref": "./part/part_list.json"
        },
        "/tipe/listtipeseries": {
            "$ref": "./tipe/tipe_listtipeseries.json"
        },
        "/tipe/listtipegroup": {
            "$ref": "./tipe/tipe_listtipegroup.json"
        },
        "/tipe/listtypeclr": {
            "$ref": "./tipe/tipe_listtypeclr.json"
        },
        "/unitinvoice/listheaderbysession": {
            "$ref": "./unitinvoice/unitinvoice_listheaderbysession.json"
        },
        "/unitinvoice/listdetailbysession": {
            "$ref": "./unitinvoice/unitinvoice_listdetailbysession.json"
        },
        "/unitrcv/listheaderbysession": {
            "$ref": "./unitrcv/unitrcv_listheaderbysession.json"
        },
        "/unitrcv/listdetailbysession": {
            "$ref": "./unitrcv/unitrcv_listdetailbysession.json"
        },
        "/pkb/listheaderbysession": {
            "$ref": "./pkb/pkb_listheaderbysession.json"
        },
        "/pkb/listdetailjobbysession": {
            "$ref": "./pkb/pkb_listdetailjobbysession.json"
        },
        "/pkb/listdetailpartbysession": {
            "$ref": "./pkb/pkb_listdetailpartbysession.json"
        },
        "/notah23/listheaderbysession": {
            "$ref": "./notah23/notah23_listheaderbysession.json"
        },
        "/notah23/listdetailbysession": {
            "$ref": "./notah23/notah23_listdetailbysession.json"
        }
    }
}