{
    "openapi": "3.0.2",
    "info": {
        "title": "Indako DMS API (publik)",
        "version": "1.0.0",
        "description": "Dokumentasi pemanfaatan API dari sistem Indako DMS",
        "contact": {
            "email": "darwin@indako.co.id"
        }
    },
    "servers": [
        {
            "url": "https://dms.indako.co.id:8443",
            "description": "DMS API Production Server"
        }
    ],
    "tags": [
        {
            "name": "Administrasi",
            "description": "Operasi yang berhubungan dengan akses dan otentikasi user"
        },
        {
            "name": "Transaksi H1",
            "description": "Operasi yang berhubungan dengan transaksi H1"
        },
        {
            "name": "Transaksi H23",
            "description": "Operasi yang berhubungan dengan transaksi Servis dan Suku Cadang"
        },
        {
            "name": "Master",
            "description": "Operasi yang berhubungan dengan data Master"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer"
            }
        },
        "schemas": {
            "Master Jasa": {
                "type": "object",
                "properties": {
                    "viddealer": {
                        "type": "string"
                    },
                    "vidservice": {
                        "type": "string"
                    },
                    "vidserviceahm": {
                        "type": "string"
                    },
                    "vidtipe": {
                        "type": "string"
                    },
                    "vidtipeahm": {
                        "type": "string"
                    },
                    "vservicedesc": {
                        "type": "string"
                    },
                    "mhet": {
                        "type": "number"
                    },
                    "vstatus": {
                        "type": "string"
                    },
                    "vidtipepkb": {
                        "type": "string"
                    },
                    "vidjenispkb": {
                        "type": "string"
                    },
                    "vidkatjob": {
                        "type": "integer"
                    },
                    "vcreateby": {
                        "type": "string"
                    },
                    "dtglcreate": {
                        "type": "string"
                    },
                    "vmodiby": {
                        "type": "string"
                    },
                    "dtglmodi": {
                        "type": "string"
                    }
                }
            },
            "MasterAlamat": {
                "type": "object",
                "properties": {
                    "vidalamat": {
                        "type": "string"
                    },
                    "vprovinsi": {
                        "type": "string"
                    },
                    "vkotakab": {
                        "type": "string"
                    },
                    "vkecamatan": {
                        "type": "string"
                    },
                    "vlurahdesa": {
                        "type": "string"
                    },
                    "vidkota": {
                        "type": "string"
                    },
                    "vidkecamatan": {
                        "type": "string"
                    },
                    "vidkecamatanahm": {
                        "type": "string"
                    },
                    "vidalamatahm": {
                        "type": "string"
                    },
                    "vcreateby": {
                        "type": "string"
                    },
                    "dtglcreate": {
                        "type": "string"
                    },
                    "vmodiby": {
                        "type": "string"
                    },
                    "dtglmodi": {
                        "type": "string"
                    }
                }
            },
            "MasterCustomerH23": {
                "type": "object",
                "properties": {
                    "vidcustomerh23": {
                        "type": "string"
                    },
                    "viddealer": {
                        "type": "string"
                    },
                    "vnamacustomer": {
                        "type": "string"
                    },
                    "valamat": {
                        "type": "string"
                    },
                    "valamat2": {
                        "type": "string"
                    },
                    "vidalamat": {
                        "type": "string"
                    },
                    "vkelurahan": {
                        "type": "string"
                    },
                    "vkecamatan": {
                        "type": "string"
                    },
                    "vidkota": {
                        "type": "string"
                    },
                    "vkota": {
                        "type": "string"
                    },
                    "vidpos": {
                        "type": "string"
                    },
                    "vtempatlahir": {
                        "type": "string"
                    },
                    "dtgllahir": {
                        "type": "string"
                    },
                    "vtelp": {
                        "type": "string"
                    },
                    "vhp": {
                        "type": "string"
                    },
                    "vjeniskelamin": {
                        "type": "string"
                    },
                    "vktp": {
                        "type": "string"
                    },
                    "vnpwp": {
                        "type": "string"
                    },
                    "vnopolisi": {
                        "type": "string"
                    },
                    "vidtipe": {
                        "type": "string"
                    },
                    "vidwarna": {
                        "type": "string"
                    },
                    "vengine": {
                        "type": "string"
                    },
                    "vframe": {
                        "type": "string"
                    },
                    "dtglbeli": {
                        "type": "string"
                    },
                    "vthnrakit": {
                        "type": "string"
                    },
                    "vcreateby": {
                        "type": "string"
                    },
                    "dtglcreate": {
                        "type": "string"
                    },
                    "vmodiby": {
                        "type": "string"
                    },
                    "dtglmodi": {
                        "type": "string"
                    }
                }
            },
            "inParamDateStartEnd": {
                "type": "object",
                "properties": {
                    "tgl_awal": {
                        "type": "string",
                        "example": "2019-06-01"
                    },
                    "tgl_akhir": {
                        "type": "string",
                        "example": "2019-06-30"
                    }
                }
            }
        }
    },
    "paths": {
        "/alamat/list": {
            "$ref": "./alamat/alamat_list.json"
        },
        "/jasa/listbysession": {
            "$ref": "./service/service_listbysession.json"
        },
        "/customerh23/listbysession": {
            "$ref": "./customerH23/customerH23_listbysession.json"
        },
        "/login/login": {
            "$ref": "./userapi/userapi_login.json"
        }
    }
}